<model>
    <name>Warehouse slip map</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>

    <author>
        <name>Ian Chen</name>
        <email>ichen@openrobotics.org</email>
    </author>

    <description>
        A slip map for the Warehouse Distribution floor
    </description>
</model>
